@import "fonts.css";

/* Font List:

- Switzer
- Zodiak
- Libertinage
- Goudy Bookletter 1911
- Sports Mill Goudy
- General Sans

*/

:root {
    --r-black: #040207;
    --r-purple: #271e31;
    --r-light-purple: #caaeed;
    --r-lighter-purple: #eadefe;
}

html {
    /* Fonts */
    font-family: "Sentient";
    font-size: 100%;
    /* Colors */
    background-color: var(--r-black);
    color: white;
}

a {
    color: var(--r-lighter-purple);
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 2px solid white;
}

.raevyn-logo {
    font-size: 175%;
}

.blogpost {
    margin-top: 5%;
}

.image-with-text {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px){
    .image-with-text {
        flex-direction: column;
    }
}