@import "fonts.css";

/* Font List:

- Switzer
- Zodiak
- Libertinage
- Goudy Bookletter 1911
- Sports Mill Goudy
- General Sans

*/

:root {
    --r-black: #040207;
    --r-purple: #271e31;
    --r-light-purple: #caaeed;
    --r-lighter-purple: #eadefe;
}

html {
    /* Fonts */
    font-family: "Sentient";
    font-size: 100%;
    /* Colors */
    background-color: var(--r-black);
    color: white;
    /* Padding */
    padding-left: 5%;
    padding-right: 5%;
}

blockquote {
    background:rgba(234, 222, 254, 0.26);
    border-left: 10px solid #fff;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

a {
    color: var(--r-lighter-purple);
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 2px solid white;
}

.raevyn-logo {
    font-size: 175%;
}

.blogpost {
    margin-top: 5%;
}

.image-with-text {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px){
    .image-with-text {
        flex-direction: column;
    }
}