---
import Headerjunk from '../components/headerjunk.astro';
import '../styles/style.css';
---

<html lang="en">
	<head>
		<Headerjunk />
		<title>Astro</title>
	</head>
	<body>
		<h1>Raevyn</h1>
		<p>Hi! I'm a game developer and writer.</p>
	</body>
</html>
