---
import Headerjunk from '../components/headerjunk.astro';
import Navbar from '../components/navbar.astro';
---

<html lang="en">
	<head>
		<Headerjunk />
		<Navbar />
		<title>Raevyn</title>	
	</head>
	<body>
		<h1>Hello, world!</h1>
		<p>Hi! I'm a game developer and writer.</p>
		<p>I like games like <a href="https://friendsvsfriends.com">Friends vs Friends</a>! If you haven't heard of it, check it out!</p>
		<p>More is going to be here soon (after I make the site look better, haha).</p>
	</body>
</html>
