---
import BaseNoNav from "@components/base-no-nav.astro";
import ImageWithText from "@components/image-with-text.astro";
import sableRef from "@images/sable_pirate.png";
---
<BaseNoNav title="Kebab Haven">
    <div style="display: flex; align-items: center; justify-content: center; height: 90vh;">
        <ImageWithText src={sableRef} width={512} height={512} alt="An anthropomorphic tiger in a pirate costume.">
            Here is Kebable.
        </ImageWithText>
    </div>
</BaseNoNav>