---
import { Image } from "astro:assets";
import raevynRef from "@images/eldrae_raedient.png"
---
<nav>
    <Image src={raevynRef} alt="A skeletal raven." width={98.5} height={110.15}/>
    <p class="raevyn-logo">Raevyn's Site</p>
    <p>Hi!</p>
</nav>