---
import { Image } from "astro:assets";
import raevynRef from "@images/eldrae_raedient.png"
---
<nav>
    <Image src={raevynRef} alt="A skeletal raven." width={99} height={110}/>
    <p class="raevyn-logo" ><a href="/" style="text-decoration: none !important;">Raevyn's Site</a></p>
    <p><a href="/blog" style="text-decoration: none !important;">Blog</a></p>
</nav>